@media screen and (min-width: 821px) {
  header.main-header-box {
    background-color: rgba(48, 48, 48, 0.7);
    font-size: 1.1em;
  }

  header.main-header-box nav.main-header-navigation {
    display: flex;
    margin: 0 25px 0 0;
    flex-flow: row;
    justify-content: space-between;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu {
    display: flex;
    flex-direction: row;
    flex: 0 0 1;
    flex-wrap: nowrap;
    list-style: none;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.home-page-link {
    font-size: 1.2em;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.header-menu {
    font-weight: bold;
    text-transform: uppercase;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.header-menu:hover {
    border: 3px solid #555;
    border-radius: 25px;
    box-shadow: 5px 2px 9px -3px #00ffbb;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.header-menu:hover:active {
    box-shadow: 5px 2px 9px -3px #00d9ff;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.header-menu a.header-links {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 10px;
  }
}

@media screen and (max-width: 820px) {
  header.main-header-box {
    background-color: rgba(48, 48, 48, 0.7);
    font-size: 0.9em;
  }

  header.main-header-box nav.main-header-navigation {
    display: flex;
    flex-direction: column;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.header-menu {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 5px 5px 15px;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.header-menu:hover {
    border: 3px solid #555;
    border-radius: 25px;
    box-shadow: 5px 2px 9px -3px #00ffbb;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.header-menu:hover:active {
    box-shadow: 5px 2px 9px -3px #00d9ff;
  }

  header.main-header-box nav.main-header-navigation ul.main-header-menu li.header-menu a.header-links {
    text-decoration: none;
    color: #ffffff;
    text-align: start;
  }
}